@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
  
  /*variables*/
  :root{
    /*colores*/
    --blue-color: rgba(0,48, 87, 0.9);
    --yellow-color:rgba(242, 169, 0, 0.9);
    --gray-color:rgba(178, 178, 179, 0.9);
    --red-color: rgba(147, 39, 44, 0.9);
    --gray-color2: #f6f6f6;
    --blue-color2: rgba(0, 106, 142, 0.9);
    --yellow-color2: rgba(218.170.0);
    --black-color: rgba(60, 60, 50, 0.9);
    /*espaciado*/
    --space: 10px;
    /*Box shadow*/
    --box:0 0 4px rgba(242, 169, 0, 0.9);

  }
  
  html, body {
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
  }

  label {
    font-size: 12px;
    color: var(--blue-color);
    font-weight: bold;
  }


  nav {
    background: var(--blue-color);
    padding: var(--space);
    color: var(--yellow-color);
    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  nav ul {
    display: flex;
    list-style: none;
  }

  nav li {
    padding-right: var(--space);
  }

  nav li a {
    list-style: none;
    text-decoration: none;
    color: var(--yellow-color);
  }

  nav li a:hover {
    color: var(--gray-color);
  }

  .logo-unisalle img {
    width: 200px;
    padding: 5px;
  }

  /*MAIN*/

  .main-section h1 {
    color: var(--yellow-color);
  }

  .main-section h2 {
    color:var(--blue-color);
  }

  .main-section {
    padding: 20px;
    text-align: center;
  }

  .products {
    background-color: #f6f6f6;
    max-height: 150px;
    background-position: center;
    padding: 150px;
    display: flex;  
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    margin-top: 20px;

 
  }

  .product {
    padding: var(--space);
    margin-top: -100px;
  }
   
  .product .content {
    background-color: white;
    padding: 20px;
    box-shadow: var(--box);
  }

  .img-content {
    text-align: center;
  }

  .content img {
    width: 200px;
  }

  .content p {
    margin-bottom: 20px;
    text-align: center;
  }

  .main-button {
    text-decoration: none;
    background-color:var(--blue-color);
    color: var(--yellow-color);
    padding: var(--space);
    border-radius: var(--space);
    border:0px;
    cursor: pointer;
    width: 100%;
    
  }

  .main-button:hover {
    background-color:var(--red-color);
    color:var(--white-color);

  }

  /*Beneficios*/

  .beneficios {
    display: flex;
    padding: 7%;
  }

  .beneficio {
    text-align: center;
    padding: 20px;
  }

  .beneficio img {
    max-height: 150px;
    border-radius: 5px;
  }

  .text_beneficio {
    text-align: justify;
  }

  .beneficio h3 {
    color: var(--blue-color2);
  }

  .beneficio p {
    color: var(--black-color);
  }


  /*Menciones*/

  .mentions {
    display: flex;
    padding: 3%;
  }

  .mention {
    padding: var(--space);
  }

  .mention img {
    max-width: 100%;
    height: auto;
    border-radius: 70px;
  }

  /*Footer*/

  footer {
    background: var(--blue-color);
    padding: var(--space);
    display: flex;
    justify-content: space-around;
    font-size: var(--normal);
  }

  footer a {
    color: var(--yellow-color);
  }

  footer li a:hover {
    color: var(--gray-color);
  }


  /*Pagina Ventas*/
  /*Tarjeta de Venta*/

  .modulo-pago {
    background-color: var(--gray-color2);
    box-shadow: var(--box);
    padding: var(--space);
  }

  .modulo-pago h3 {
    color: var(--yellow-color);
    text-align: center;
  }

  .modulo-pago p {
    text-align: center;
  }

  .modulo-pago-img {
    max-width: 200px;
    margin: auto;
    padding: var(--space);
  }

  .modulo-pago-img img {
    width: 200px;
 
  }

  .modulo-pago .main-button {
    margin-top: 20px;
  }

  .data {
    margin-top: 10px;
    width: 100%;
    height: 35px;
    border: 1px solid var(--black-color);
    box-sizing: border-box;
  }

   /*Formulario*/







  







