
@media screen and (max-width: 780px) {
  .products {
    display: inherit;
    height: auto;
    padding: 10px;
  }

  .product {
    margin-top: auto;
  }

  .main-section {
    padding: 5%;
    margin-right:0px;
  }

  .beneficios {
    display: flex;
    flex-direction: column;
    margin-top: 140%;
    text-align: center;

  }

  .beneficios p {
    text-align: center;
  }

  .mentions, nav, footer{
    display: inherit;
  }

  .option {
    text-align: center;
  }

}

  @media screen and (max-width: 490px) {

    .beneficios {
      display: inherit;
      width: auto;
      flex-direction: inherit;
      margin-top: 130%;
      text-align: center;
    }


}

@media screen and (max-width: 489px) and (min-width: 320px) {
  .beneficios {
    display: inherit;
    height: inherit;
    
  }

  .nav-options ul{
    display: inherit;
    height: inherit;
}

  .nav-options ul li{
    height: inherit;
}



  @media screen and (max-width: 319px) and (min-width: 280px) {

    .beneficios {
      display: inherit;
      height: inherit;
      
    }
  
    .nav-options {
      visibility: hidden;
    }


  

